<!DOCTYPE html>
<html>
<title>前台</title>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content " id="app">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div id="exampleToolbar" role="group">
                    <div class="form-group col-sm-2">
                        <input id="name" type="text" class="form-control" v-model="name" placeholder="房间名称">
                    </div>
                    <div class="form-group col-sm-4">
                        <input type="text" class="laydate-icon layer-date form-control" id="bookDate" placeholder="请选择查询日期"
                               onclick="laydate({istime: false,istoday:true, format: 'YYYY-MM-DD'})" style="background-color: #fff;" readonly="readonly"/>
                    </div>
                    <button class="btn btn-success" onclick="reLoad()">查询</button>
                </div>

                <div class="col-sm-12 animated">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="file-box" v-for="room in rooms">
                                <template v-if="room.status == null">
                                    <!--未入住-->
                                    <div class="file" style="background-color:#00ff72;">
                                        <a href="#">
                                            <span class="corner"></span>
                                            <div class="image">
                                                <img class="img-preview-sm" src="/img/room_bg.png">
                                            </div>
                                            <div class="file-name">
                                                <br/>
                                                <small>{{room.name}}&nbsp;&nbsp;&nbsp;&nbsp;{{room.typeName}}</small>
                                            </div>
                                            <div align="center">
                                                &nbsp;
                                                <button class="btn btn-success btn-xs" @click="reserve(room.roomId)">预定
                                                </button>
                                                &nbsp;
                                                <button class="btn btn-primary btn-xs" @click="open(room.roomId)">入住</button>
                                            </div>
                                            <!--&nbsp;-->
                                            <!--<button class="btn btn-info btn-xs">换房</button>-->
                                            <!--&nbsp;-->
                                            <!--<button class="btn btn-danger btn-xs">退房</button>-->
                                        </a>
                                    </div>
                                </template>
                                <template v-else-if="room.status == 1">
                                    <!--已预定-->
                                    <div class="file" style="background-color:#c000ff;">
                                        <a href="#">
                                            <span class="corner"></span>
                                            <div class="image">
                                                <img class="img-preview-sm" src="/img/room_bg.png">
                                            </div>
                                            <div class="file-name">
                                                <br/>
                                                <small>{{room.name}}&nbsp;&nbsp;&nbsp;&nbsp;{{room.typeName}}</small>
                                            </div>
                                            <div align="center">
                                                <!--&nbsp;-->
                                                <!--<button class="btn btn-success btn-xs">预定</button>-->
                                                <!--&nbsp;-->
                                                <button class="btn btn-primary btn-xs" @click="open(room.roomId)">入住</button>
                                                <!--&nbsp;-->
                                                <!--<button class="btn btn-info btn-xs">换房</button>-->
                                                <!--&nbsp;-->
                                                <button class="btn btn-danger btn-xs" @click="noshow(room.bookId)">noshow</button>
                                            </div>
                                        </a>
                                    </div>
                                </template>
                                <template v-else-if="room.status == 2">
                                    <!--已入住-->
                                    <div class="file" style="background-color:#00dcff;">
                                        <a href="#">
                                            <span class="corner"></span>
                                            <div class="image">

                                            </div>
                                            <div class="file-name">
                                                <br/>
                                                <small>{{room.name}}&nbsp;&nbsp;&nbsp;&nbsp;{{room.typeName}}</small>
                                            </div>
                                            &nbsp;
                                            <button class="btn btn-success btn-xs">预定</button>
                                            &nbsp;
                                            <button class="btn btn-primary btn-xs">入住</button>
                                            &nbsp;
                                            <button class="btn btn-info btn-xs">换房</button>
                                            &nbsp;
                                            <button class="btn btn-danger btn-xs">退房</button>
                                        </a>
                                    </div>
                                </template>
                                <template v-else-if="room.status == 3">
                                    <!--待退房-->
                                    <div class="file" style="background-color:#69480d;">
                                        <a href="#">
                                            <span class="corner"></span>
                                            <div class="image">

                                            </div>
                                            <div class="file-name">
                                                <br/>
                                                <small>{{room.name}}&nbsp;&nbsp;&nbsp;&nbsp;{{room.typeName}}</small>
                                            </div>
                                            &nbsp;
                                            <button class="btn btn-success btn-xs">预定</button>
                                            &nbsp;
                                            <button class="btn btn-primary btn-xs">入住</button>
                                            &nbsp;
                                            <button class="btn btn-info btn-xs">换房</button>
                                            &nbsp;
                                            <button class="btn btn-danger btn-xs">退房</button>
                                        </a>
                                    </div>
                                </template>
                                <template v-else-if="room.status == 4">
                                    <!--已退房待请扫-->
                                    <div class="file" style="background-color:#cc2222;">
                                        <a href="#">
                                            <span class="corner"></span>
                                            <div class="image">

                                            </div>
                                            <div class="file-name">
                                                <br/>
                                                <small>{{room.name}}&nbsp;&nbsp;&nbsp;&nbsp;{{room.typeName}}</small>
                                            </div>
                                            &nbsp;
                                            <button class="btn btn-success btn-xs">预定</button>
                                            &nbsp;
                                            <button class="btn btn-primary btn-xs">入住</button>
                                            &nbsp;
                                            <button class="btn btn-info btn-xs">换房</button>
                                            &nbsp;
                                            <button class="btn btn-danger btn-xs">退房</button>
                                        </a>
                                    </div>
                                </template>
                            </div>
                            <div id="incomeNum"></div>
                        </div>
                    </div>
                    <div>
                        <ul id="page"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script src="/js/jquery.min.js?v=2.1.4"></script>
<script src="/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/js/bootstrap-paginator.min.js"></script>

<script src="/js/content.js?v=1.0.0"></script>
<script src="/js/layui.js"></script>
<script src="/js/plugins/layer/layer.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/appjs/main.js"></script>
</body>
</html>